{% extends 'base.html' %}
<!--  -->

{% block title %}
    Blog List
{% endblock title %}



{% block content %}
<!--  -->
<h2>Post Lists</h2>
<br>
{% for post in posts %}
<article>
    <div>
        <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }} -- {{post.author.username}}</a></h2>
        <p>{{ post.published_date }}</p> 
        
        {% if request.user.id == post.author.id %}
        <a href="{% url 'deleteblog' post.id %}">Delete</a><br>
        <a href="#">Edit</a>
        {% endif %}

    </div>
    
</article>
{% endfor %}
<!--  -->
{% endblock content %}

