{% extends 'base.html' %}

{% block title %}
    Add Blog
{% endblock title %}

{% block content %}


<div class="container">
        <div class="row">
            
                <form class="signup-form" method="post" enctype="multipart/form-data">
                    <h1>Add Block</h1>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="mb-3">
                        <label for="exampleTitle" class="form-label">Title</label>
                        <input name="title" type="text" class="form-control" id="exampleInputTitle" value="{{ post.title }}">
                        
                    </div>
                    <div class="col-12">
                        <label for="exampleContent" class="form-label">Content</label>
                        <input name="text" type="text" class="form-control" id="exampleInputContent" value="{{ post.text }}"> 
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="exampleImage" class="form-label">Image</label>
                        <input name="image" type="file" id="exampleInputImage" value="{{ post.image }}">
                        
                    </div>
                    
                    <button class="btn btn-primary" type="submit">Add</button>
                </form>
                
            
        </div>
    </div>
</main>

{% endblock content %}

 