
{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% load static%}    

{% block content %}

<main>
    <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static "image/car1.jpg"%}" class="d-block w-100" alt="..." height="700px">
          </div>
          <div class="carousel-item">
            <img src="{% static "image/car2.jpg"%}" class="d-block w-100" alt="..." height="700px">
          </div>
          <div class="carousel-item">
            <img src="{% static "image/car3.jpg"%}" class="d-block w-100" alt="..." height="700px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> 
        </div>
    </div>

    <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      {% for post in posts %}
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>{{post.title}}</title>
            <rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>

        <h2>{{post.title}}</h2>
        <p>{{post.published_date}}</p>
        <p><a class="btn btn-secondary" href="{% url 'post_detail' post.id %}">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      
      {% endfor %}
    </div><!-- /.row -->
</main>

{% endblock content %}

